<h1>Welcome to David's blog!</h1>
<!--Mattan: embedded ruby: application processes this file and turns into html, so user see only html underneath 'view page source.' True for all apps-->
<p>sign up <%= link_to "here", "#" %>.</p>
