<div class= "jumbotron"> <!--grey box in the middle-->
	<h1>Welcome to David's blog!</h1>
	<!--Mattan: embedded ruby: application processes this file and turns into html, so user see only html underneath 'view page source.' True for all apps-->
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %></p> <!--customize buttons that was found in bootstrap/css/buttons-->
</div>