<div class= "jumbotron center"> <!--centers jumbotron-->
	<h1>Welcome to my Pinteresting Blog!</h1>
	<!--Mattan: embedded ruby: application processes this file and turns into html, so user see only html underneath 'view page source.' True for all apps-->
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</p> <!--customize buttons that was found in bootstrap/css/buttons website-->
</div>